<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<title>Mongoose Explorer</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="/static/css/1.css" type="text/css" media="screen,projection" />
<link rel="stylesheet" href="/static/css/sh_acid.min.css" type="text/css" media="screen,projection" />
<script type="text/javascript" src="/static/js/jquery.js"></script>    
<script type="text/javascript" src="/static/js/jquery.tmpl.js"></script>    
<script type="text/javascript" src="/static/js/explorer.js"></script>    
<script type="text/javascript" src="/static/js/objSort.js"></script>    
<script type="text/javascript" src="/static/js/sh_main.min.js"></script>    
<script type="text/javascript" src="/static/js/sh_perl.min.js"></script>    
</head>
 
<body>

<div id="wrapper">
<div id="innerwrapper">

		<div id="header">
				
				<h1><a href="#">Mongoose Explorer</a></h1>
				
				<h2>
				
						MongoDB server at piki.fr
				
				</h2>
				
				<ul id="nav">
				
						<li><a id='nav_explore' href="javascript:explorer.pages.explore();" class="active"><em>E</em>xplore</a></li>
						
						<li><a id='nav_query' href="javascript:explorer.pages.query();"><em>Q</em>uery</a></li>
 
						<li><a href="twocolumns.html"><em>C</em>onfigure</a></li>
						
						<li><a href="#Intro"><em>H</em>elp</a></li>
				
				</ul>
				<ul id="subnav" style='display:none'>
				
						<li>Query Tabs:</li>
				
						<li><a href="index.html" accesskey="3" class="active"><em>3</em> Columns</a></li>
						
						<li><a href="twocolumns.html" accesskey="2"><em>2</em> Columns</a></li>
						
						<li><a href="#Intro"><em>I</em>ntro</a></li>
						
						<li><a href="#About"><em>A</em>bout</a></li>
						
						<li><a href="#Examples"><em>E</em>xamples</a></li>
						
						<li><a href="#Examples"><em>C</em>ontact</a></li>
				
				</ul>
		
		</div>
		
		<div id="sidebar">
		
				<h2>Collections</h2>
				
				<ul class="subnav">
				
						<li><a href="#"><b>&raquo;</b>Link Here</a></li>
						
						<li><a href="#"><b>&raquo;</b>Link Here</a></li>
						
						<li><a href="#"><b>&raquo;</b>Link Here</a></li>
						
						<li><a href="#"><b>&raquo;</b>Link Here</a></li>
				
				</ul>

                <img style='width:200px' src='/static/images/mongoose.png'>
				
		
		</div>
		

		
		<div id="content">
		
		
		</div>
		
		<div id="footer">
		
								<!-- If you wish to delete this line of code please purchase our commercial license http://www.sixshootermedia.com/shop/commercial-license/ -->
								<p>Template design by <a href="http://www.sixshootermedia.com">Six Shooter Media</a>, icons from <a href='http://www.famfamfam.com/lab/icons/silk/'>Silk icon theme</a><br />
								<!-- you can delete below here -->

		
		</div>
		
</div>
</div>


<script id="list_collection_tpl" type="text/x-jquery-tmpl">
    {{if target == 'query'}}
        <p>Choose a class to query from </p>
    {{else}}
        <p>Choose a class to explore </p>
    {{/if}}
    {{each sorted}} 
        <li><a href="javascript:explorer.pages.${target}_class('${classes[this]}');"><b>&raquo;</b>${classes[this]}</a></li>
    {{/each}}
</script>

<script id="header_tpl" type="text/x-jquery-tmpl">
    MongoDB server at ${host}
</script>

<script id="explore_class_tpl" type="text/x-jquery-tmpl">
    <h2>${class_name}</h2>
    <p>
        <table style='width:100%'>
            <tr>
                <td>
                    Represents the ${collection} collection
                </td>
                <td style='text-align: right;'>
                     <img src='/static/images/icons/magnifier.png'/> <a href='javascript:explorer.pages.query_class("${class_name}");'>Query class</a><br/>
                </td>
            </tr>
        </table>
    </p>

    <p>
        <h3>Attributes</h3>
        <table>
        <th></th><th>Name</th><th>Constraint</th>
        {{each attributes}}
            <tr> 
                <td style='padding-right:10px'>{{each explorer.constraint_image(this.constraint)}} <img src='/static/images/icons/${this}.png'/> {{/each}}</td>
                <td style='padding-right:20px'><pre>${this.name}</pre></td>
                <td>{{html explorer.constraint_link(this.constraint)}}</td></tr>
        {{/each}}
        </table>
    </p>
</script>

<script id="query_class_tpl" type="text/x-jquery-tmpl">
    <h2>${class_name}</h2>
    <p>
        <table style='width:100%'>
            <tr>
                <td>
                    Represents the ${collection} collection
                </td>
                <td style='text-align: right;'>
                     <img src='/static/images/icons/magnifier.png'/> <a href='javascript:explorer.pages.explore_class("${class_name}");'>Explore class</a><br/>
                </td>
            </tr>
        </table>
    </p>
    <h3>Query</h3>
    <ul id='query_chain'>
    </ul>
    <div id='edit_link'>
    </div>
    <div id='query_results'>
    </div>
</script>

<script id="query_chain_tpl" type="text/x-jquery-tmpl">
    <table style='width:100%'>
        <tr>
            <td>
                {{each query_tab.chain}}
                    {{if this.type == 'root' }}
                        <li>{{if $index > 0 }}<pre>-></pre>{{/if}}
                            {{if this.selected() == 1 }}
                                <pre>${class_name}</pre>
                            {{else}}
                                <a href='javascript: explorer.pages.query_tab( explorer.get_current_query_tab().id ); explorer.get_current_query_tab().edit_link(${this.id})'><pre>${class_name}</pre></a>
                            {{/if}}
                        </li>
                    {{/if}}
                    {{if this.type == 'method' }}
                        <li>{{if $index > 0 }}<pre>-></pre>{{/if}}
                            {{if this.selected() == 1 }}
                                <pre>${this.method.name}</pre>
                            {{else}}
                                <a href='javascript: explorer.pages.query_tab( explorer.get_current_query_tab().id ); explorer.get_current_query_tab().edit_link(${this.id})'><pre>${this.method.name}</pre></a>
                            {{/if}}
                            <pre>${ this.format_parameters() }</pre>
                        </li>
                    {{/if}}
                    {{if this.type == 'attribute' }}
                        <li>{{if $index > 0 }}<pre>-></pre>{{/if}}
                            {{if this.selected() == 1 }}
                                <pre>${this.attribute_name}</pre>
                            {{else}}
                                <a href='javascript: explorer.pages.query_tab( explorer.get_current_query_tab().id ); explorer.get_current_query_tab().edit_link(${this.id})'><pre>${this.attribute_name}</pre></a>
                            {{/if}}
                        </li>
                    {{/if}}
                {{/each}}
            </td>
            <td style='text-align: right;'>
                {{if query_tab.mode != 'edit' }}
                    <img src='/static/images/icons/edit.png'/> <a href='javascript:explorer.pages.edit_query();'>Edit query</a><br/>
                {{else}}
                    <img src='/static/images/icons/query.png'/> <a href='javascript:explorer.pages.run_query();'>Run query</a>
                {{/if}}
            </td>
        </tr>
    </table>
</script>

<script id="query_tabs_tpl" type="text/x-jquery-tmpl">
	<li>Query Tabs:</li>
	{{each tabs}}			
        <li><a href="javascript:explorer.pages.query_tab(${this.id});" {{if this.id == current}}class="active"{{/if}}>${this.id + 1}.<em>${this.make_name()}</em></a></li>
    {{/each}}
</script>


<script id="edit_link_tpl" type="text/x-jquery-tmpl">
    <h3>Edit ${link.name()}</h3>
    {{if link.follower() != 0 }}Is chained to ${ link.follower().name() } ,{{/if}}
    Returns {{if link.type == 'method' }}
                ${ link.method.returns_name() }
            {{/if}}
            {{if link.type == 'attribute' }}
                ${ link.constraint }
            {{/if}}
            {{if link.type == 'root' }}
                a class
            {{/if}}
    {{if link.id == link.parent.chain[link.parent.chain.length-1].id }}
        ( <img src='/static/images/icons/delete.png'/><a href='javascript:explorer.get_current_query_tab().delete_last_link()'>delete</a> )
    {{/if}}
    {{if link.type == 'method' && link.method.parameters !== undefined }}
        <h3>Edit method parameters</h3>
        <table style='width:100%'>
            {{each link.method.parameters}}
                <tr>
                    <td> ${this.name} </td>
                    <td> <input type='text' value='${link.parameters[this.name]}' onKeyUp="explorer.get_current_query_tab().get_link(${link.id}).parameters['${this.name}'] = this.value;  explorer.pages.update_query( ${link.id} );" /> </td>
                </tr>
            {{/each}}
        </table>
    {{/if}}
    {{if link.id == link.parent.chain[link.parent.chain.length-1].id }}
        <h3>Chain a method</h3>
        {{each methods}}
            {{if link.can_method(this) == 1 }}
                <a href='javascript:explorer.get_current_query_tab().add_link_for_method("${this.name}")'><pre>${this.name}</pre></a>
            {{else}}
                <pre style='color:#aaa'>${this.name}</pre>
            {{/if}}
        {{/each}}
        <div id='attributes_to_add'>
        </div>
    {{/if}}
    <h3>Perl code to this point</h3>
    <div id='link_perl_code'>
    </div>
    <div id='query_result_preview'>
    </div>
</script>

<script id="query_result_preview_tpl" type="text/x-jquery-tmpl">
    <h3>Query result</h3>
    {{if type == 'error'}}
        <img src='/static/images/icons/error.png'/><pre class='error'>Eval error: ${error}</pre>
    {{/if}}
    {{if type == 'unknown'}}
        <pre style='width:100%' class='sh_perl'>${ raw_data }</pre>
    {{/if}}
    {{if type == 'datetime'}}
        <img src='/static/images/icons/date.png'/><pre> DateTime: ${date}</pre>
    {{/if}}
    {{if type == 'id'}}
        <img src='/static/images/icons/key.png'/><pre> MongoDB::OID: ${id}</pre>
    {{/if}}
    {{if type == 'join'}}
        <img src='/static/images/icons/join.png'/><pre> Join with ${class} ( ${count} results )</pre>
    {{/if}}
    {{if type == 'resultset'}}
        <img src='/static/images/icons/resultset.png'/><pre> Resultset for ${class} ( ${count} results )</pre>
    {{/if}}
    {{if type == 'cursor'}}
        <img src='/static/images/icons/cursor.png'/><pre> Cursor for ${class} ( ${count} results )</pre>
    {{/if}}
    {{if type == 'document'}}
        <img src='/static/images/icons/object.png'/><pre> Document of class ${class}</pre>
    {{/if}}
    , <img src='/static/images/icons/magnifier.png'/> <a href='javascript:' onclick='$("#raw_data").show("slow");'> Code </a>
    <div id='raw_data' style='display:none;'>
        <h3>Raw data</h3>
        <pre style='width:100%' class='sh_perl'>${ raw_data }</pre>
    </div>
    {{if ( type == 'resultset' || type == 'join' || type == 'document' ) && expand == 1 }}
        <table style='width:100%'>
            <tr>
                <td>
                    <h3>Documents</h3>
                </td>
                <td style='text-align:right;'>
                    {{if count != 0 }}
                        <img src='/static/images/icons/count.png'> ${ count } results <img src='/static/images/icons/page.png'> Page ${ query_tab.page + 1 } / ${ Math.round(count/10) }
                        {{if query_tab.page + 1 > 1 && Math.round(count/10) + 1 > 1 }}
                             <img src='/static/images/icons/page_previous.png'> <a href='javascript:explorer.get_current_query_tab().previous_page()'>Previous</a>  
                        {{/if}}
                        {{if query_tab.page + 1 < Math.round(count/10) }}
                             <img src='/static/images/icons/page_next.png'> <a href='javascript:explorer.get_current_query_tab().next_page()'>Next</a>  
                        {{/if}}
                    {{/if}}
                </td>
            </tr>
        </table>
        {{each(i, document) documents.list}}
            <div class='document'>
                <img src='/static/images/icons/object.png'/> <pre>${ document._id.value } <span style='color:#ccc' >( ${ document._id_date } ) </span> </pre> <br/>
                <div class='attributes'>
                    <table style='witdh:100%'>
                        {{each(j, attribute) documents.attributes}}
                            <tr>
                                <td>
                                    {{each explorer.constraint_image(attribute.constraint)}} 
                                        <img src='/static/images/icons/${this}.png'/> 
                                    {{/each}}
                                    <pre> ${attribute.name} </pre>
                                </td>
                                <td> 
                                    {{if document[attribute.name] !== undefined }}                                           
                                        {{tmpl({attribute: attribute, value: document[attribute.name], class: class, '_id' : document._id.value }) '#attribute_value_tpl'}}
                                    {{/if}}
                                </td>
                            </tr>
                        {{/each}}
                    </table>
                </div> 
            </div>
        {{/each}}
    {{/if}}
</script>

<script id="attribute_value_tpl" type="text/x-jquery-tmpl">
    {{if /(Num|Int|Bool)/.test(attribute.constraint) }}
        ${value}
    {{/if}}
    {{if /Str/.test(attribute.constraint) }}
        {{if value.length > 50 }}
            ${value.substr(0,50)}...
        {{else}}
            ${value}
        {{/if}}
    {{/if}}
    {{if /MongoDB::OID/.test(attribute.constraint) }}
        ${value.value}
    {{/if}}
    {{if /(DateTime)/.test(attribute.constraint) }}
        ${value.local_c.year}-{{if value.local_c.month < 10 }}0{{/if}}${value.local_c.month}-{{if value.local_c.day < 10 }}0{{/if}}${value.local_c.day} {{if value.local_c.hour < 10 }}0{{/if}}${value.local_c.hour}:{{if value.local_c.minute < 10 }}0{{/if}}${value.local_c.minute}:{{if value.local_c.second < 10 }}0{{/if}}${value.local_c.second}
    {{/if}}
    {{if /Mongoose::Join/.test(attribute.constraint) }}
        <img src='/static/images/icons/page_next.png'>
        <a href='javascript:explorer.pages.query_join("${class}",  "${_id}", "${attribute.name}", "${attribute.constraint}" )'>
            join on ${ attribute.constraint.match(/Mongoose::Join::Relational\[(.*?)\]/)[1] } 
        </a>
        <span style='color:#ccc' > ( ${ value.count} results ) </span>
    {{/if}}
    {{if ! /(Bool|Int|Num|Str|DateTime|MongoDB::OID|Mongoose::Join)/.test( attribute.constraint ) && value['$id'] !== undefined }}
        <img src='/static/images/icons/page_next.png'>
        <a href='javascript:explorer.pages.query_document("${attribute.constraint}",  "${value['$id'].value}" )'>
            ${attribute.constraint} document
        </a>
    {{/if}}
</script>

<script id="link_perl_code_tpl" type="text/x-jquery-tmpl">
    <pre style='width:100%' class='sh_perl'>${ link.parent.make_code_up_to(link.id) }</pre>
</script>

<script id="attributes_to_add_tpl" type="text/x-jquery-tmpl">
    <h3>Chain an attribute</h3>
        {{each attributes}}
            <pre><img src='/static/images/icons/${explorer.constraint_image(this.constraint)[1]}.png'/><a href='javascript:explorer.get_current_query_tab().add_link_for_attribute("${this.name}", "${this.constraint}")'>${this.name}</a></pre> &nbsp;
        {{/each}}
</script>

<script id="ajax_wait_tpl" type="text/x-jquery-tmpl">
    <div align='center'><img src='/static/images/ajax-loader.gif'/></div>
</script>

</body>
</html>